# Google Search Console HTML tag verification value
NEXT_PUBLIC_GSC_VERIFICATION=
# Google Analytics 4 measurement ID
NEXT_PUBLIC_GA4_ID=G-KEN9N69DMT
# Microsoft Clarity project ID
NEXT_PUBLIC_CLARITY_ID=ynac141k23